.section-container-about {
    width: 100%;
    position: relative;

}

#card-about {
    width: 450px;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
    text-align: center;
    font-size: 100px;
    z-index: 3;
}

#card-about figure {
    margin: 0;
    display: block;
    position: absolute;
    width: 450px;
    backface-visibility: hidden;

}

#card-about .front {
    background-image: url(jpg/Myguide.png);
    margin-left:4%;
    height: 803px;
    top:-92px;
    width: 450px;
    z-index: 1;
}

#card-about .back {
    background: deeppink;
    transform: rotateY( 180deg);
    margin-left: -212.5%;
    height: 803px;
    top:-92px;
}

#card-about.flipped {
    transform: rotateY( 180deg);
}



/*number2*/



#cards-about {
    width: 400px;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
    text-align: center;
    font-size: 100px;
    z-index: 3;
}

#cards-about figure {
    margin: 0;
    display: block;
    position: absolute;
    width: 450px;
    height: 100%;
    backface-visibility: hidden;

}




#cards-about .back {
    background: deeppink;
    transform: rotateY( 180deg);
    height: 803px;
    top:-92px;
    margin-left:-134.3%;
}

#cards-about.flipped {
    transform: rotateY(180deg);
}


/*numb 2*/



#cards2-about {
    width: 400px;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
    text-align: center;
    font-size: 100px;
}

#cards2-about figure {
    margin: 0;
    display: block;
    position: absolute;
    width: 450px;
    height: 100%;
    backface-visibility: hidden;

}

#cards2-about .back {
    background: deeppink;
    transform: rotateY( 180deg);
    height: 803px;
    top:-92px;
    margin-left:-17%;
}

#cards2-about.flipped {
    transform: rotateY(180deg);
}



/*middle*/
.section-container {
    width: 100%;
    position: relative;

}

#card {
    position: absolute;
    text-align: center;
    font-size: 100px;
}

#card figure {
    margin: 0;
    display: block;
    position: absolute;
    width: 450px;
}

#card .front {
    background-image: url(jpg/Myguide3.png);
    left:487px;
    height: 803px;
    top:-92px;
    width:450px;
    z-index: 1;
}