body{
    background-color: white;
}

.nav li {
    display: inline;
}

.nav a {
    text-align: center;
    text-decoration: underline;
    font-size: 35px;
}

.nav_about {
    list-style:none;
    color:yellow;
    position:relative;
    z-index:4;
    margin-left:10%;
}

.nav_project {
    list-style:none;
    color:yellow;
    position:relative;
    z-index: 2;
    margin-left: 25%;
}

.nav_contact {
    list-style:none;
    margin-left: 26%;
    color:yellow;
    position: relative;
    z-index: 3;
}

@media screen and (max-width: 1080px) {
    .nav_project {
        margin-left: 20%;
    }

    .nav_contact {
        margin-left: 20%;
    }
}

@media screen and (max-width: 700px) {
    .nav_project {
        margin-left: 15%;
    }

    .nav_contact {
        margin-left: 15%;
    }
}

@media screen and (max-width: 340px) {
    .nav_project {
        margin-left: 10%;
    }

    .nav_contact {
        margin-left: 10%;
    }
}

li a:hover {
    background-color: #ffe4b5;
}

h6 {
    color:lightcyan;
    font-family: Didot;
    font-size:20px;
    text-align:center;
    display: flex;
    flex-direction: column;

}